body {
  background-image: url("../images/background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  font-family: "kongtext";
}

canvas {
  display: block;
  position: relative;
  background: url(../images/canvas.png), url(../images/farbg.jpg) repeat-x;
  background-size: cover;
  -webkit-animation: slide 6s linear infinite;
  margin: 0 auto;
}

@-webkit-keyframes slide {
  from {
    background-position: 173.5px 0;
  }
  to {
    background-position: -1187px 0;
  }
}
